Repository latteine1217/pour-over-coffee-lbm: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, core, utilities

🔬 Major Enhancement: CFD Engineer-Grade Analysis & Smart Report System
  .gitignore
  AGENTS.md
  README.md
  apple_silicon_optimizations.py
  combined_analysis_step_0044.png
  config.py
  config_validator.py
  enhanced_visualizer.py
  enhanced_visualizer_backup.py
  enhanced_visualizer_correct.py
  main.py
  report/20250725_025444/images/cfd_pressure_analysis_step_0010.png
  report/20250725_025444/images/cfd_turbulence_analysis_step_0010.png
  report/20250725_025444/images/combined_analysis_step_0010.png
  report/20250725_025444/images/v60_longitudinal_analysis_step_0010.png
  report/20250725_025444/images/velocity_analysis_step_0010.png
  report/20250725_025610/images/cfd_pressure_analysis_step_0003.png
  report/20250725_025610/images/cfd_turbulence_analysis_step_0003.png
  report/20250725_025610/images/combined_analysis_step_0003.png
  report/20250725_025610/images/v60_longitudinal_analysis_step_0003.png
  report/20250725_025610/images/velocity_analysis_step_0003.png
  report/20250725_025741/images/cfd_pressure_analysis_step_0003.png
  report/20250725_025741/images/cfd_turbulence_analysis_step_0003.png
  report/20250725_025741/images/combined_analysis_step_0003.png
  report/20250725_025741/images/v60_longitudinal_analysis_step_0003.png
  report/20250725_025741/images/velocity_analysis_step_0003.png
  report/20250725_025912/data/test_simulation_data.json
  report/20250725_025912/images/test_cfd_analysis.png
  report/20250725_025952/images/cfd_pressure_analysis_step_0005.png
  report/20250725_025952/images/cfd_turbulence_analysis_step_0005.png
  report/20250725_025952/images/combined_analysis_step_0005.png
  report/20250725_025952/images/v60_longitudinal_analysis_step_0005.png
  report/20250725_025952/images/velocity_analysis_step_0005.png
  test_enhanced_viz.py
  v60_longitudinal_analysis_step_0000.png
  v60_longitudinal_analysis_step_0100.png
  velocity_analysis_step_0000.png
  velocity_analysis_step_0100.png
Due: utilities

✨ 優化系統配置與智能報告 - 生產就緒版本
  .gitignore
  README.md
  boundary_conditions.py
  coffee_particles.py
  config.py
  error_handling.py
  geometry_visualizer.py
  init.py
  lbm_solver.py
  multiphase_3d.py
  numerical_stability.py
  precise_pouring.py
  pressure_gradient_drive.py
  tests/README.md
  tests/__init__.py
  tests/test_boundary_conditions.py
  tests/test_coffee_particles_extended.py
  tests/test_enhanced_viz.py
  tests/test_filter_paper.py
  tests/test_lbm_diagnostics.py
  tests/test_lbm_solver_unit.py
  tests/test_les_turbulence.py
  tests/test_multiphase_flow.py
  tests/test_numerical_stability.py
  tests/test_precise_pouring.py
  tests/test_pressure_gradient.py
  tests/test_visualizer.py
Due: core, utilities

🌡️ 重大更新: 熱流耦合系統完成 & CI/CD全面修復
  .coveragerc
  .flake8
  .github/workflows/ci.yml
  README.md
  benchmarks/benchmark_suite.py
  ci_smoke_test.py
  config/init.py
  config/thermal_config.py
  docs/CI_CD_GUIDE.md
  docs/DEPENDENCY_ANALYSIS.md
  docs/README.md
  docs/THERMAL_DEVELOPMENT_PLAN.md
  docs/technical/technical_paper.md
  docs/技術文檔_完整物理建模.md
  main.py
  pytest.ini
  src/core/thermal_fluid_coupled.py
  tests/integration/simple_coupling_test.py
  tests/integration/test_phase3_strong_coupling.py
Due: integration

feat(gpu): 實現雙GPU P2P通訊
  README.md
  config/init.py
  jax_hybrid_core.py
  requirements.txt
  src/core/cuda_dual_gpu_lbm.py
  src/core/ultimate_cfd_system.py
  test_cuda_dual_gpu.py
Due: none

Add documentation
  GEMINI.md
  NVIDIA_P100_MANUAL.md
Due: none

Update main.py and requirements.txt
  main.py
  requirements.txt
Due: none

Update .gitignore
  .gitignore
  src/visualization/__init__.py
  src/visualization/enhanced_visualizer.py
  src/visualization/geometry_visualizer.py
  src/visualization/lbm_diagnostics.py
  src/visualization/visualizer.py
Due: none

🚀 重大架構重組與功能更新
  AGENTS.md
  README.md
  backups/enhanced_visualizer_backup_20250815.py
  backups/enhanced_visualizer_correct_20250815.py
  docs/FORCHHEIMER_COUPLING_ROADMAP.md
  lightweight_test.py
  main.py
  pour_over_geometry_visualization.png
  src/core/ultra_optimized_lbm.py
  src/physics/filter_paper.py
  src/physics/pressure_gradient_drive.py
  src/visualization/enhanced_visualizer.py
  standalone_dual_gpu_test.py
  test_forchheimer.py
  tests/integration/minimal_coupling_test.py
  tests/integration/simple_coupling_test.py
  tests/integration/simple_phase3_test.py
  tests/integration/test_phase3_integration_fix.py
Due: integration

🎨 增強視覺化系統重大更新
  .gitignore
  AGENTS.md
  README.md
  config/config.py
  config/config.yaml
  config/config_manager.py
  docs/technical/technical_paper.md
  main.py
  src/core/lbm_solver.py
  src/core/multiphase_3d.py
  src/core/ultra_optimized_lbm.py
  src/physics/filter_paper.py
  src/physics/les_turbulence.py
  src/physics/precise_pouring.py
  src/physics/pressure_gradient_drive.py
  src/visualization/enhanced_visualizer.py
  standalone_dual_gpu_test.py
  test_enhanced_viz.py
  test_forchheimer.py
  tests/test_forchheimer.py
  tests/test_les_turbulence.py
  tests/test_pressure_gradient.py
Due: integration

🔧 修復純重力模式下水流停滯問題
  AGENTS.md
  README.md
  config/config.py
  config/config.yaml
  config/init.py
  coupling_repair_summary.py
  docs/THERMAL_DEVELOPMENT_PLAN.md
  docs/THERMAL_PHASE3_ANALYSIS.md
  main.py
  quick_pressure_test.py
  simple_particle_test.py
  src/core/lbm_solver.py
  src/core/multiphase_3d.py
  src/core/ultra_optimized_lbm.py
  src/physics/boundary_conditions.py
  src/physics/coffee_particles.py
  src/physics/precise_pouring.py
  src/physics/pressure_gradient_drive.py
  src/visualization/enhanced_visualizer.py
  test_gravity_fix.py
  test_lbm_body_force.py
  test_particle_coupling.py
  test_phase2_coupling.py
  test_trilinear_interpolation.py
  test_under_relaxation.py
Due: integration

🔄 Phase 2 清理進行中 - 舊求解器已移至legacy
  main.py
  src/core/legacy/README.md
  src/core/legacy/cuda_dual_gpu_lbm.py
  src/core/legacy/lbm_solver.py
  src/core/legacy/ultra_optimized_lbm.py
Due: none

♻️ 統一設定與相容層重構
  backups/config_backup_20250901_041645/__init__.py
  backups/config_backup_20250901_041645/config.py
  backups/config_backup_20250901_041645/config.yaml
  backups/config_backup_20250901_041645/config_manager.py
  backups/config_backup_20250901_041645/core.py
  backups/config_backup_20250901_041645/core_config.py
  backups/config_backup_20250901_041645/init.py
  backups/config_backup_20250901_041645/legacy/__init___original.py
  backups/config_backup_20250901_041645/legacy/config_original.py
  backups/config_backup_20250901_041645/legacy/core_config_original.py
  backups/config_backup_20250901_041645/legacy/physics_config_original.py
  backups/config_backup_20250901_041645/legacy/thermal_config_original.py
  backups/config_backup_20250901_041645/physics.py
  backups/config_backup_20250901_041645/physics_config.py
  backups/config_backup_20250901_041645/thermal.py
  backups/config_backup_20250901_041645/thermal_config.py
  backups/main_backup_20250824_132855.py
  config/core_config.py
  config/physics_config.py
  config/thermal_config.py
  src/core/lbm_solver.py
  src/core/ultra_optimized_lbm.py
Due: none

🐛 修正 legacy LBM 求解器 SoA 索引與變數宣告
  src/core/legacy/lbm_solver.py
Due: none

refactor(core): 導入統一路徑
  src/core/strong_coupled_solver.py
  src/core/thermal_fluid_coupled.py
Due: none

refactor(core): 將 ultra_optimized_lbm 導入改為包裝器入口\n\n- from src.core.legacy.ultra_optimized_lbm → from src.core.ultra_optimized_lbm (已設置相容包裝器)\n- 維持相同實作但統一路徑，便於逐步移除 legacy 導入\n- 冒煙測試通過
  src/core/ultimate_cfd_system.py
Due: none

fix(jax): 使用統一 config 入口並修正 JAX 設定導入語法\n\n- 將 改為 （消除相容層警告）\n- 修正 JAX 設定導入：\n- 測試：模組可正常匯入，Metal 後端提示顯示正常
  jax_hybrid_core.py
Due: none

ci(policy): Limit policy checks to Python sources and exclude backups/ to avoid false positives
  .github/workflows/ci.yml
Due: none

Path conditions:
  unittests: any of: test_*.py, tests/, but not: test_*.py, tests/, benchmark_suite.py, enhanced_visualizer*.py, geometry_visualizer.py, working_main.py, config_backup_*.py, **/temp_*.py
  integration: any of: *_test.py, but not: test_*.py, tests/, benchmark_suite.py, enhanced_visualizer*.py, geometry_visualizer.py, working_main.py, config_backup_*.py, **/temp_*.py
  core: any of: lbm_solver.py, multiphase_3d.py, boundary_conditions.py, les_turbulence.py, coffee_particles.py, filter_paper.py, precise_pouring.py, but not: test_*.py, tests/, benchmark_suite.py, enhanced_visualizer*.py, geometry_visualizer.py, working_main.py, config_backup_*.py, **/temp_*.py
  utilities: any of: config.py, error_handling.py, numerical_stability.py, lbm_diagnostics.py, but not: test_*.py, tests/, benchmark_suite.py, enhanced_visualizer*.py, geometry_visualizer.py, working_main.py, config_backup_*.py, **/temp_*.py
